<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Caculadora</title>
    <link rel="stylesheet" href="static/estilos.css" />
</head>
<body>
    <h1>Calculadora</h1>

    <h2>{{ mensaje }} </h2>
    <form method="post" action="{{ accion }}">
      <label for="x">x</label>
      <input type="number" name="x" id="x" />
      <label for="y">y</label>
      <input type="number" name="y" id="y" />
      <input type="submit" name="{{ accion }}" value="{{ accion }}" />
    </form>

</body>
</html>
